/* 
 Title: RodriguezAlvarado-bobs-auto-repair.css
 Date: 11/19/2023
 Author: Zadkiel Rodriguez Alvarado
 Description: Bob's Automotive Repair App Styling    
*/
#cart-message {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

i:hover {
    cursor: pointer;
}

cart-component {
    color: var(--card-title-color);
    font-size: 36px;
    margin-left: 45%;
}

